<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/home">Lanchonete APP</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/home">
           <img src="/img/home-run.png" width="30" height="30">
             Home <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           <img src="/img/burger.png" width="30" height="30">
          Lanches
        </a>
        <div class="dropdown-menu " style="background-color: #e3f2fd;" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/lanches/novo"> <img src="/img/more.png" width="20" height="20"> Novo Lanche</a>
          <a class="dropdown-item" href="/lanches/pesquisa"> <img src="/img/search.png" width="20" height="20"> Pesquisar Lanche</a>
          <a class="dropdown-item" href="/lanches/cardapio"> <img src="/img/menu.png" width="20" height="20"> Ver Card치pio </a>
        </div>
      </li>
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           <img src="/img/order.png" width="30" height="30">
          Pedidos
        </a>
        <div class="dropdown-menu " style="background-color: #e3f2fd;" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/pedidos/novo"> <img src="/img/more.png" width="20" height="20"> Novo Pedido</a>
          <a class="dropdown-item" href="/pedidos/pesquisa"> <img src="/img/search.png" width="20" height="20"> Pesquisar Pedido</a>
          <a class="dropdown-item" href="/pedidos/pedidos_do_dia"> <img src="/img/list.png" width="20" height="20"> Pedidos do Dia </a>
        </div>
      </li>
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           <img src="/img/usuarios.png" width="30" height="30">
          Usu치rios
        </a>
        <div class="dropdown-menu " style="background-color: #e3f2fd;" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/usuarios/novo"> <img src="/img/more.png" width="20" height="20"> Novo Usu치rio</a>
          <a class="dropdown-item" href="/usuarios/pesquisa"> <img src="/img/search.png" width="20" height="20"> Pesquisar Usu치rio</a>
        </div>
      </li>
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           <img src="/img/dinheiro.png" width="30" height="30">
          Caixa
        </a>
        <div class="dropdown-menu " style="background-color: #e3f2fd;" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/receitas/novo"> <img src="/img/more.png" width="20" height="20"> Nova Receita</a>
          <a class="dropdown-item" href="/receitas/pesquisa"> <img src="/img/search.png" width="20" height="20"> Pesquisar Receitas</a>
          <a class="dropdown-item" href="/caixas/caixa_do_dia"> <img src="/img/caixa-registradora.png" width="20" height="20"> Caixa do Dia</a>
          <a class="dropdown-item" href="/caixas/pesquisa"> <img src="/img/search.png" width="20" height="20"> Pesquisar Caixa</a>
          
        </div>
      </li>
      
       <li class="nav-item active">
        <a class="nav-link" href="/perfil/editar" tabindex="-1" >
        <img src="/img/do-utilizador.png" width="30" height="30"> Editar Perfil</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/logout" tabindex="-1" >
        <img src="/img/logout.png" width="30" height="30"> Logout</a>
      </li>
     
    </ul>
    
  </div>
</nav>  