

<div class="card text-white mt-4 bg-info">
    <div class=" card-header bg-primary">
        <h2>Login</h2>
    </div>
    <div class="card-body">
        <form method="post" action="/login">
            <label for="nomeUsuario" class="mt-3"> Usuário: </label>
            <input type="text" class="form-control" name="nomeUsuario" required>
            <label for="senha" class="mt-3">Senha:</label>
            <input type="password" class="form-control" name="senha" required>
            <button type="submit" class="btn mt-4 btn-secondary "> Entrar </button>
            <button type="reset" class="btn btn-secondary mt-4"> Limpar </button>
        </form>
    </div>
</div>